.page{

min-height:100vh;

padding:40px;

background:
linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url("/assets/train-bg.png");

background-size:cover;

color:white;

}

.delay-table{

background:white;

color:black;

border-radius:10px;

padding:20px;

width:400px;

}

th,td{

padding:10px;

}