.menu-card{

padding:40px;

font-size:22px;

background:rgba(24, 23, 23, 0.2);

backdrop-filter:blur(10px);

border-radius:15px;

color:rgb(18, 17, 17);

box-shadow:0 10px 30px rgba(0,0,0,0.4);

transition:0.3s;

}

.menu-card:hover{

transform:scale(1.07);

background:rgba(255,255,255,0.35);

}