<div class="min-h-screen flex flex-col items-center justify-center
bg-cover bg-center
bg-[url('/assets/train-bg.png')]
text-black">

<h1 class="text-4xl font-bold mb-20">
 RailSenseAI Control Panel
</h1>

<div class="grid grid-cols-2 gap-10">

<button
routerLink="/dashboard/network"
class="menu-card">
🌐 Network Map
</button>

<button
routerLink="/dashboard/delays"
class="menu-card">
⏱ Delay Monitor
</button>

<button
routerLink="/dashboard/assistant"
class="menu-card">
🤖 AI Assistant
</button>

<button
routerLink="/dashboard/tickets"
class="menu-card">
🎫 Ticket Prediction
</button>

</div>

</div>