<div class="login-container">

  <div class="login-card">

    <h1 class="title">RailSenseAI</h1>
    <p class="subtitle">Smart Railway Intelligence System</p>

    <form (ngSubmit)="login()" #loginForm="ngForm">

      <div class="input-group">
        <label>Email</label>
        <input
          type="email"
          name="email"
          [(ngModel)]="loginData.email"
          required
        >
      </div>

      <div class="input-group">
        <label>Password</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="loginData.password"
          required
        >
      </div>

      <!-- FIXED BUTTON -->
      <button type="submit" class="login-btn">
        Login
      </button>

      <p class="signup-link">
        New here?
        <a routerLink="/register">Create account</a>
      </p>

    </form>

  </div>

</div>