.login-container{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

/* Train background */

background-image:url("/assets/train-bg.png");

background-size:cover;
background-position:center;
background-repeat:no-repeat;

font-family:'Segoe UI', sans-serif;

}


/* Login Card */

.login-card{

width:380px;

padding:40px;

background:rgba(255,255,255,0.9);

border-radius:16px;

box-shadow:0 15px 40px rgba(0,0,0,0.35);

text-align:center;

}


/* Title */

.title{
font-size:28px;
font-weight:600;
color:#1f2937;
margin-bottom:5px;
}

.subtitle{
color:#374151;
margin-bottom:25px;
}


/* Input groups */

.input-group{
text-align:left;
margin-bottom:18px;
}

.input-group label{
font-size:14px;
color:#111827;
}

.input-group input{

width:100%;
padding:10px;
margin-top:6px;

border-radius:8px;

border:1px solid #ccc;

outline:none;

}


/* Login button */

.login-btn{

width:100%;
padding:12px;

border:none;
border-radius:8px;

background:#2563eb;

color:white;

font-weight:600;

cursor:pointer;

transition:0.25s;

}

.login-btn:hover{
background:#1d4ed8;
}


/* Link */

.signup-link{
margin-top:15px;
font-size:14px;
}

.signup-link a{
color:#1d4ed8;
text-decoration:none;
}